<div id="<%= dom_id analysis %>">
  <p>
    <strong>Name:</strong>
    <%= analysis.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= analysis.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= analysis.price %>
  </p>

</div>
