<h1>Аналізи</h1>
<ul>
  <% @analyses.each do |analysis| %>
    <li>
      <%= analysis.name %> - <%= analysis.price %> грн
      <%= button_to 'Додати до замовлення', order_order_items_path(order_id: @order_id, analysis_id: analysis.id), method: :post %>
    </li>
  <% end %>
</ul>
