<h1>Мої замовлення</h1>
<% if current_user.role == "client" %>
  <%= button_to 'Створити замовлення', orders_path, method: :post %>
<% end %>
<ul>
  <% @orders.each do |order| %>
    <li>
      <%= link_to "Замовлення ##{order.id}", order_path(order) %> - <%= order.total_price %> грн
    </li>
  <% end %>
</ul>
