
<% @analysis.each do | analysis |  %>
  <div style="width: 300px;">
    <p><%= analysis.name %>(<%= @type_of_analysis.find(analysis.type_of_analysis_id).name %>)</p>
    <p><%= analysis.description %></p>
    <p><%= analysis.price %></p>
  </div>
<% end %>
