.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #31525B;
    align-items: center;
    justify-content: space-around;
}
.header__tittle{
}
.header__tittle-text a{
    text-decoration: none;
    font-size: 1.35em;
    /*color: #b3dee5;*/
    color: #FAEAAB;
}

.header__action{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.action__user-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 80px;
}
.action__user-item{
    margin-right: 10px;
}
.action__user-link{
    display: block;
    text-align: center;
    padding: 10px;
    min-width: 80px;
    text-decoration: none;
    font-weight: bolder;
    color: #FAEAAB;
    border: #ffa101 1px solid;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;

}
.action__user-item:hover .action__user-link{
    background-color: #FFA101;
    color: #0E2F36;
}

.action__locale-list{
    list-style: none;
}
.action__locale-item{
    margin-bottom: 5px;
}
.action__locale-link{
    display: block;
    padding: 7px;
    text-decoration: none;
    font-weight: 550;
    color: #BBF4F9;
    border-radius: 5px;
    border: 1px solid #31525B;
    transition: border 0.2s;
}
.action__locale-item:hover .action__locale-link{
    border: 1px solid #BBF4F9;
}