<div class="block__info">
  <div class="info__first-line">
        <h1 class="info__title"><%= t('structure.appointments') %></h1>
  </div>

<div class="info__list">
      <% @appointments.each do |appoint| %>
        <div class="info__item">
          <h2 class="item__title"><%= link_to t('appointments.order_appointments')+" ##{appoint.order_id}", appointment_path(appoint), style: "text-decoration: none; color: #1d3124;" %></h2>

          <h3 class="item__subtitle"><%= appoint.analysis_datetime %></h3>
        </div>
      <% end %>
</div>
</div>