<h1>Editing type of analysis</h1>

<%= render "form", type_of_analysis: @type_of_analysis %>

<br>

<div>
  <%= link_to "Show this type of analysis", @type_of_analysis %> |
  <%= link_to "Back to type of analyses", type_of_analyses_path %>
</div>
